.product{
   border: solid 2px lightgreen;
   margin-top: 0.5em;
   height: 3em;
   position: relative;
}

img{
    border-radius: 3em;
    height: 2.7em;
    width: 2.7em;
    margin-right: 0.4em;
    border: 2px lightgreen solid;
}

.header{
    margin-top: -3em;
    margin-right: 3.8em;
    position: absolute;
}
.amount{
    margin-top: -2em;
    margin-right: 4.7em;
    position: absolute;
    font-size: small;
}

.price{
    margin-top: 0.45em;
    margin-right: 14.7em;
    position: absolute;
    width: 6em;
    border-radius: 4em;
    border: 2px lightgreen solid;
}

.niceText{
    text-shadow: 0.5px 0.5px grey;
    color: black;
}